
#name{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-family:"Comic Sans MS", cursive, sans-serif
}
/* Front message */
.aboutMe{
    color: white;
    font-family: Gerogia, serif;
    top: 70px;
    left: 30%;
    position:absolute;
    background-color:darkslategray;
    border-radius: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

body{
    background-image: url("/static/images/bg.jpg");
    background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position:center, center ;
    height:100%;
    width:100%;
}